.place__title {
  max-width: calc(100% - 100px);
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 0 21px;
}
