.profile__info {
  color: #ffffff;
  margin: 22px 0 25px 30px;
  display: grid;
  grid-template-columns: auto 24px;
  column-gap: 18px;
}

@media screen and (max-width: 430px) {
  .profile__info {
    margin: 26px 0 36px;
    column-gap: 10px;
  }
}
