.page {
  background-color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  padding: 45px 19px 60px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 430px) {
  .page {
    padding: 28px 19px 36px;
  }
}
