.header__logo {
  width: 142px;
  background-image: url(../../../images/header_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 430px) {
  .header__logo {
    width: 104px;
    margin-left: 27px;
  }
}
