.profile__add-icon {
  width: 22px;
  height: 22px;
  background-image: url(../../../images/Add-Button.svg);
  background-size: cover;
  margin: auto;
}

@media screen and (max-width: 570px) {
  .profile__add-icon {
    width: 16px;
    height: 16px;
  }
}
