.place {
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden; /*скругление фото сверху, вместо border-radius в place__photo*/
  display: flex;
  flex-direction: column;
  position: relative;
}
