.form__save-btn {
  width: 100%;
  height: 50px;
  background-color: #000000;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin-top: 31px;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.form__save-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 540px) {
  .form__save-btn {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
